body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f8;
  color: #333;
  padding: 20px;
}

.user-avatar {
  width: 250px;
  border: 5px solid #007bff;
  transition: transform 0.3s ease;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.card-body h5 {
  font-weight: 600;
}

.card-body p {
  font-size: 1rem;
  color: #555;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

footer {
  position: absolute;
  color: white;
  margin-top: 0px;
  font-size: 0.9rem;
  font-weight: bold;
  left: 2;
}

.form-control {
  caret-color: blue;
  height: 60px;
}

.btn {
  width: 40%;
}
